PRIVATE_KEY={{PRIVATE_KEY}}
PORT={{PORT}}
MONGO_URL={{MONGO_URL}}
GMAIL_ACCOUNT={{GMAIL_ACCOUNT}}
GMAIL_APP_PASSWD={{GMAIL_APP_PASSWD}}
RESET_PASSWORD_KEY={{RESET_PASSWORD_KEY}}
ADMIN_EMAIL={{ADMIN_EMAIL}}
adminCoder@coder.com